body {
	text-align: center;
	/* background-color: silver; */
	background-color: lightblue;
}
ul {
	padding: 0px;
}

ul li {
	list-style-type: none;
	/* margin-right: 50px; */
}

.home-button {
	text-decoration: underline;
	list-style-type: none;
	color: black;
	font-weight: 900;
	font-size: 20px;
}

.header-image {
	margin-top: 50px;
	width: 20%;
}

.toc-button {
	font-size: 20px;
	text-decoration: underline;
	color: black;
	font-weight: 500;
}

.toc-button:hover {
	color: white;
	text-shadow: 2px 2px grey;
}

.title {
	margin-top: 20px;
	font-size: 45px;
}

.title-breakline {
	width: 40%;
	border: solid 2px black;
	margin-bottom: 50px;
}

.sub-title-breakline {
	width: 30%;
	border: solid 2px black;
	margin-bottom: 25px;
}

h1 {
	text-align: center;
	display: block;
	width: 100%;
}

table {
	display: block;
	width: 80%;
	text-align: center;
}

th {
	background-color: black;
	font-size: 20px;
	color: white;
}

.tr-grey {
	background-color: grey;
}

td {
	border: 1px black solid;
}

.mission-statement-title {
	margin-top: 50px;
}

.mission-statement {
	font-size: 20px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
}

.mission-statement-breakline {
	margin-bottom: 20px;
	width: 25%;
	border: solid 2px black;
}

.mission-statement-qualifications {
	font-size: 18px;
	text-decoration: underline;
}

.specific-targets-text {
	text-align: left;
}

.application-statement-breakline {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 40%;
	border: solid 2px black;
}

.go-fund-me {
	text-decoration: underline;
	color: black;
	font-size: 30px;
	font-weight: 900;
}

.go-fund-me:hover {
	color: white;
	text-shadow: 2px 2px grey;
}

.closing-quote {
	margin-left: 15%;
	margin-right: 15%;
}
